.App {
    text-align: center;
}

.App-header {
    background-color: #2D3245;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.ui.header {
    color: black;
}